@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Tutorial Case

   Columns Style Sheet
   Author: Victor Akanbi
   Date:   12.6.18

   Filename:         dlr_columns.css

*/



/* Column Styles */